header{
    background-color: rgb(192, 228, 216) ; 
    height: 40px;
    color: rgb(245, 244, 244);
    font-size: 25px;
    font-weight: 700;
    position: sticky;
    top:0;
    text-align: center;
    border: 1px solid transparent;
    border-bottom-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    .icon{
        width: 23px;
        height: 23px;
        background-size: cover;
        margin: 6px;
        outline: none;
    }
    .icon1{
        background-image: url(../../assets/icons/star-white.png);
        margin-left: 20px;
    }
    .icon2{
        background-image: url(../../assets/icons/search-white.png);
        margin-right: 20px;
    }
    .active1{
        background-image: url(../../assets/icons/star-pink.png);
    }
    .active2{
        background-image: url(../../assets/icons/search-pink.png);   
    }
}
